
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* base styles */
body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: radial-gradient(circle, #002f53, #003964, #004477, #004f89, #005a9c, #0a64aa, #136fb9, #1a7ac8, #2787d5, #3295e3, #3da2f0, #48b0fd);
  color: #fff;
}
